<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">



<context:component-scan base-package="org.papaCollege"></context:component-scan>

	<bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name = "prefix" value = "/jsp/" />
      <property name = "suffix" value = ".jsp" />
   </bean>



   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mamancollege" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- definition injection du bean SessionFactory Bean -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="packagesToScan" value="org.papaCollege.entities"></property>
	</bean>
	<context:annotation-config />
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


   
	<bean id="daoCollege"  class="org.papaCollege.dao.CollegeDAO" ></bean>
   <bean id="serviceCollege" name="serviceCollege" class="org.papaCollege.service.CollegeMetier" ></bean>
   
	<bean id="daoDepartement"  class="org.papaCollege.dao.DepartementDAO" ></bean>
   <bean id="serviceDepartement" name="serviceDepartement" class="org.papaCollege.service.DepartementMetier" ></bean>
   
	<bean id="daoEnseignant"  class="org.papaCollege.dao.EnseignantDAO" ></bean>
   <bean id="serviceEnseignant" name="serviceEnseignant" class="org.papaCollege.service.EnseignantMetier" ></bean>
   
   	<bean id="daoEtudiant"  class="org.papaCollege.dao.EtudiantDAO" ></bean>
   <bean id="serviceEtudiant" name="serviceEtudiant" class="org.papaCollege.service.EtudiantMetier" ></bean>
   
   	<bean id="daoMatiere"  class="org.papaCollege.dao.MatiereDAO" ></bean>
   <bean id="serviceMatiere" name="serviceMatiere" class="org.papaCollege.service.MatiereMetier" ></bean>
   
   	<bean id="daoNoter"  class="org.papaCollege.dao.NoterDAO" ></bean>
   <bean id="serviceNoter" name="serviceNoter" class="org.papaCollege.service.NoterMetier" ></bean>
   
   	<bean id="daoPersonne"  class="org.papaCollege.dao.PersonneDAO" ></bean>
   <bean id="servicePersonne" name="servicePersonne" class="org.papaCollege.service.PersonneMetier" ></bean>
   
   	<bean id="daoSalle"  class="org.papaCollege.dao.SalleDAO" ></bean>
   <bean id="serviceSalle" name="serviceSalle" class="org.papaCollege.service.SalleMetier" ></bean>
   
      	<bean id="daoAdmin"  class="org.papaCollege.dao.AdminDAO" ></bean>
   <bean id="serviceAdmin" name="serviceAdmin" class="org.papaCollege.service.AdminMetier" ></bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	
	
	<!-- SpringSecurity -->
	
	<!-- <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg value="12"></constructor-arg>
	</bean> -->
	
	
<!-- 	<security:http auto-config="false">
	
		<security:intercept-url pattern="/admin/*" access="ROLE_ADMIN" />
		
		<security:form-login login-page="/login" default-target-url="/jsp/hello.jsp"/>

		<security:logout logout-success-url="/login" /> 
		
	</security:http> -->
	
	<!-- <security:http auto-config="false">
	
		<security:intercept-url pattern="/admin/*" access="ROLE_ADMIN" />
		
		<security:form-login login-page="/login" default-target-url="/jsp/hello.jsp"/>

		<security:logout logout-success-url="/login" /> 
		
	</security:http>
		
	
	<security:authentication-manager>
		<security:authentication-provider>
		
		<security:password-encoder ref="encoder"></security:password-encoder>
		<security:jdbc-user-service data-source-ref="dataSource"
		users-by-username-query="select userName,password, actived  from user where userName=?"
		authorities-by-username-query="select u.userName, r.roleName from user u, role r  where u.ID_USER = r.ID_USER and u.userName =? " />
		
		</security:authentication-provider>
	</security:authentication-manager> -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</beans>
